

.mainBody {
  width: 100%;
  margin: auto;
  border: 1px solid transparent;   
  text-align: center;
  padding-top: 2%;
  min-height: 90vh;
  
}

html {
  background-color: black;
}

#root {
  background-image: url(../public/concrete_wall.webp);
}