.detailCard{
    border: 1px solid black;
    width: 40%;
    margin: auto;   
    padding-top: 2%;   
    padding-bottom: 2%; 
    text-align: center;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(78, 73, 73, 0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    border: 1px solid rgba(255,255,255,0.18);
    border-radius: 32px;   
    color: white;
}

h5{
    margin: auto;
    text-align: center;
    font-size: 1.5em;
}

.detailCard div p {
    padding: 0 2% 0 2%;
    text-align: justify;
}

.detailCard div :nth-child(3) {
   text-align: center;
}

.detailContainer{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    width: 90%;
    margin: auto;   
    padding-top: 2%;   
    padding-bottom: 2%; 
    /*text-align: center;*/
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(78, 73, 73, 0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    border: 1px solid rgba(255,255,255,0.18);
    border-radius: 32px; 
   

}

.detailContainer img {
    width: 30%;
    margin: auto;
    border-radius: 20px;
    
}


.itemCardCount button {
    text-transform: uppercase;
    border: none;
    background: #444;   
    color: white; 
    border-radius: 4px;
    
}

.itemCardCount span {
    margin: 0 2% 0 2%;
    font-size: 1em;
}

.itemCardCount {
    text-align: center;
}

#addButton{
    background: none;
    margin: 2% 0 2% 0;
    color: white;
    border-radius: 3px;
    
}

.itemCardCount #addButton:hover{
    background-color: #F2BB05;
    transition: 0.5s;
    box-shadow: 0 0 10px 4px #F2BB05;
    font-size: 1em;
    color: black;
    
}